@charset "utf-8";
/* *{margin:0;padding:0;box-sizing: border-box;} */
/* body{font-size:18px;color: #333;font-family: 'Noto Sans KR', sans-serif;font-weight: 400;letter-spacing: -1px;} */
ul, ol, li{list-style-type:none;}
/* img, fieldset{border:none;vertical-align: middle;} */
/* a{color:inherit;text-decoration:none;} */
table{border-collapse:collapse;}
input, textarea{color:inherit;font-size:inherit;font-family:inherit;vertical-align: middle;}
/* button{font-size:18px;color: #333;font-family: 'Noto Sans KR', sans-serif;font-weight: 400;letter-spacing: -1px;} */

.c_red{color:red; margin-right: 5px;}
.row_flex{display: flex;flex-flow: row wrap;}
.column_flex{display: flex;flex-flow: column wrap;}
.vingo_font{font-family: 'Ubuntu', sans-serif; font-weight: 700;}
#wrapsv {
      width: 100%;
      max-width: 1000px;
      height: 100%;
      margin: 0 auto;
}
#headersv{
      width: 100%;
      max-width: 1000px;
      margin-top: 20px;
      padding: 20px 30px;
      background-color: #fff;
      box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3); 
      border-radius: 10px;
      align-items: center;
      justify-content: space-between;
}
#headersv img{
      width: 200px;
}
#headersv h2{
      font-size: 30px;
      color: #2251A1;
}
#headersv h2.end{
      text-align: right;
      line-height:30px;
}
#headersv h2 span{
      font-size: 18px;
      font-weight: normal;
      color: #666;
      line-height: 10px;
}
#sectionsv{
      width: 100%;
      margin-top: 10px;
      padding: 20px;
      background-color: rgba(0,0,0,0.10);
      box-shadow: 3px 3px 20px rgba(0,0,0, 0.3); 
      border-radius: 10px;
}
@media all and (max-width:1000px){
      #wrap{
            max-width: 500px;
      }
      #headersv{
            max-width: 500px;
            padding: 10px 20px;
      }
      #headersv img{
            margin-bottom: 5px;
      }
      #headersv h2.end{
            margin-bottom: 0px;
      }
      #sectionsv{
            padding: 10px;
            margin-bottom: 20px;
      }
}
@media all and (max-width:500px){
      #wrap{
            width: 90%;
      }
      #headersv{
            max-width: 500px;
            padding: 10px 20px;
      }
      #headersv img{
            width: 170px;
      }
      #headersv h2{
            font-size: 25px;
      }
      #headersv h2.end{
            text-align: left;
            margin-bottom: 0px;
      }
      #headersv h2 span{
            font-size: 16px;
      }
}
