@charset "EUC-KR";

#default-process .process-item {
	position: relative;
}

#default-process .process-item-number {
    position: absolute;
    color: #e1e1e1;
    left: 0;
    top: 0;
    -webkit-transform: translate(-127%, -21%);
    -ms-transform: translate(-127%, -21%);
    transform: translate(-127%, -21%);
    font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 800;
    background-color: white;
    font-size: 5.584rem;
}
.consize {
	width: 3.125rem;
	margin-right: 1.8rem !important;
}
.consize .consize-img{
	margin-right:0 !important;
}

@media screen and (min-width:769px) {
	.inner {
		padding-left: 150px;
		padding-right: 150px;
	}
	#page-contact .waranch {
		position: absolute;
		height: 100vh;
	    width: 100%;
	    min-height: 100%;
	    top: 0;
	    left: 0;
	    background-size: cover;
	    background-position: center;
	    overflow: hidden;
	    will-change: transform, opacity, filter;
	    -webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	    background-repeat: no-repeat;
	    filter: bulr(0px);
	    opacity: 1;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}
	#page-about .waranch {
		position: absolute;
		height: 100vh;
	    width: 100%;
	    min-height: 100%;
	    top: 0;
	    left: 0;
	    background-size: cover;
	    background-position: center;
	    overflow: hidden;
	    will-change: transform, opacity, filter;
	    -webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	    background-repeat: no-repeat;
	    filter: bulr(0px);
	    opacity: 1;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}
}

@media screen and (max-width:768px) {
	#page-contact .waranch {
		position: absolute;
	    width: 100%;
	    min-height: 100%;
	    top: 0;
	    left: 0;
	    background-size: cover;
	    background-position: center;
	    overflow: hidden;
	    will-change: transform, opacity, filter;
	    -webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	    background-repeat: no-repeat;
	    filter: bulr(0px);
	    opacity: 1;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}
	#page-about .waranch {
		position: absolute;
	    width: 100%;
	    min-height: 100%;
	    top: 0;
	    left: 0;
	    background-size: cover;
	    background-position: center;
	    overflow: hidden;
	    will-change: transform, opacity, filter;
	    -webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	    background-repeat: no-repeat;
	    filter: bulr(0px);
	    opacity: 1;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}
}

.stepContainer {
  text-align: center;
 font-family: 'Noto Sans', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.steph1 {
  font-weight:400;
  padding-top:0;
  margin-top:0;
  font-family: 'Roboto Slab', serif;
}

#svg_form_time {
  height: 15px;
  max-width: 80%;
  margin: 40px auto 20px;
  display: block;
}

#svg_form_time circle,
#svg_form_time rect {
  fill: white;
}

.stepButton {
  background: #2251A1;
  border-radius: 5px;
  padding: 15px 25px;
  display: inline-block;
  margin: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-shadow:0px 2px 5px rgb(0,0,0,0.5);
}

.disabled {
  display:none;
}

.stepSection {
  padding: 50px ;
  max-width: 300px;
  margin: 30px auto;
  background:white;
  background:rgba(255,255,255,0.9);
  backdrop-filter:blur(10px);
  box-shadow:0px 2px 10px rgba(0,0,0,0.3);
  border-radius:5px;
  transition:transform 0.2s ease-in-out;
}


.stepSection > input {
  width: 100%;
  margin: 7px 0px;
  display: inline-block;
  padding: 12px 25px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 1em;
  font-family:inherit;
  background:white;
}

.stepSection > p{
  text-align:justify;
  margin-top:0;
}


.stepContainer .selectSteps {
    padding: 15px 10px;
}
.stepContainer .selectSteps input[type=radio]{
    display: none;
}
.stepContainer .selectSteps input[type=radio]+label{
    cursor: pointer;
    width: 100%;
    margin: 7px 0px;
    display: inline-block;
    padding: 12px 25px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 1em;
    font-family: inherit;
    background: white;
}
.stepContainer .selectSteps input[type=radio]+label{
    background-color: #fff;
    color: #333;
}
.stepContainer .selectSteps input[type=radio]:checked+label{
    background-color: #333;
    color: #fff;
}
